<template>
  <v-card>
    <v-card-title primary-title class="grey lighten-4">
      <h3 class="headline mb-0">{{ title }}</h3>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <!-- Name -->
      <text-input
        :form="form"
        :label="$t('name')"
        :v-errors="errors"
        :value.sync="form.name"
        counter="50"
        name="name"
        v-validate="'required|max:30'">
      </text-input>

      <!-- Email -->
      <email-input
        :form="form"
        :label="$t('email')"
        :v-errors="errors"
        :value.sync="form.email"
        name="email"
        v-validate="'required|email'">
      </email-input>

      <password-input
        :form="form"
        :hint="$t('password_length_hint')"
        :v-errors="errors"
        :value.sync="form.password"
        v-on:eye="eye = $event"
        v-validate="'required|min:8'">
      </password-input>

      <v-select
        :form="form"
        :label="$t('role._singular')"
        :v-errors="errors"
        :items="roles"
        v-model="form.role"
        multiple
        item-value="id"
        item-text="name"
        name="role">
      </v-select>
    </v-card-text>
    <v-btn
      :loading="busy"
      :disabled="busy"
      color="primary"
      @click="save">
      {{ $t('save') }}
      <v-icon right dark>save</v-icon>
    </v-btn>
    <v-btn
      color="blue-grey"
      class="white--text"
      @click="cancel">
      {{ $t('cancel') }}
      <v-icon right dark>cancel</v-icon>
    </v-btn>
  </v-card>
</template>

<script>
import axios from 'axios'
import Form from 'vform'
import router from '~/router'

export default {
  name: 'users-form-view',
  data: () => ({
    form: new Form({
      id: '',
      name: '',
      email: '',
      role: [],
      password: ''
    }),
    roles: [],
    busy: false,
    title: '',
    eye: true
  }),
  metaInfo () {
    return { title: this.$t('home') }
  },
  mounted () {
    let id = this.$route.params.id
    this.form.id = id || ''
    this.title = id ? this.$t('user._singular') : this.$t('new_user')
    this.getRoles()
    this.getDataFromApi(this.$route.params.id)
  },
  methods: {
    cancel () {
      router.push({ name: 'users' })
    },
    getRoles () {
      let $this = this
      return axios.get(`/api/v1/role`, {
          params: {
            fields: 'id,name'
          }
        })
        .then(function (response) {
          let data = response.data
          $this.roles = data.data
        })
        .catch(() => {})
    },
    getDataFromApi (id) {
      if (!id) {
        return
      }
      let $this = this

      return axios.get(`/api/v1/user/${id}`)
        .then(function (response) {
          let data = response.data.data

          $this.form.fill(data)
          /*
          $this.form.id = data.id
          $this.form.name = data.name
          $this.form.email = data.email
          $this.form.role = data.roles.map((role) => {
            return {
              id: role.id,
                name: role.name
              }
            })
          */
        })
    },
    save () {
      let form = this.form
      let url = `/api/v1/user/${form.id}`
      let promise = form.id ? form.put(url) : form.post(url)

      this.$emit('busy', true)

      return promise.then(function (response) {
          $this.$emit('busy', false)
          router.push({
            name: 'users'
          })
        })
        .catch(function(){
          $this.$emit('busy', false)
        })
    }
  }
}
</script>
