<template>
  <div>
    <v-toolbar flat>
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
            {{ name }}
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-divider></v-divider>
    <v-list>
      <template v-for="item in items">
        <v-list-tile v-if="!item.menu" :to="item.route">
          <v-list-tile-action>
            <v-icon light v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <template v-else>
          <v-list-group
            :prepend-icon="item.icon"
            value="false">
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <template v-for="subitem in item.menu">
              <v-list-tile :to="subitem.route">
                <v-list-tile-action>
                <!-- <v-icon light v-html="subitem.icon"></v-icon> -->
                </v-list-tile-action>
                <v-list-tile-title v-text="subitem.title"></v-list-tile-title>
              </v-list-tile>
            </template>
          </v-list-group>
        </template>
      </template>
    </v-list>
  </div>
</template>

<script>
export default {
  data () {
    return {
      name: this.$t('nav_menu_title'),
      items: [
        { title: this.$t('dashboard'), icon: 'dashboard', route: { name: 'home' } },
        { title: this.$t('admin'), icon: 'build', menu: [
          { title: this.$t('user._singular'), icon: 'person', route: { name: 'users' } },
          { title: this.$t('profile'), icon: 'group_work', route: { name: 'profiles' } },
        ] },
        { title: this.$t('account'), icon: 'account_box', route: { name: 'settings.profile' } }
      ]
    }
  }
}
</script>
